@import "boilerplate";
@import "variables";
@import "./modules/error-message";
@import "./modules/task-panel";

* {
  box-sizing: border-box;
}

html{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#244484+0,a6fffe+100 */
  background: #244484; /* Old browsers */
  background: -moz-linear-gradient(top, #244484 0%, #a6fffe 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #244484 0%,#a6fffe 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #244484 0%,#a6fffe 100%) fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#244484', endColorstr='#a6fffe',GradientType=0 ); /* IE6-9 */
  height: 100%;
  color: $mainFont;

}

body{
  font-family: 'Orbitron', sans-serif;
  background-color: inherit;
  color: $mainFont;
  text-align: center;
  font-size: 62.5% !important;
}

.block{
  display: block;
}

.container{
  color: $mainFont;
  font-size: 1.6em;
}


input{
  border-radius: 5px;
  padding: 5px;
  border: none;
  color: $inputFont;
  background-color: #4D4D4D;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $inputFont;
  font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $inputFont;
  font-weight: bold;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $inputFont;
  font-weight: bold;
}
:-moz-placeholder { /* Firefox 18- */
  color: $inputFont;
  font-weight: bold;
}

.title{
  width: 100%;
  text-align: center;
  color: $mainFont;
}

.title h1{
  width: auto;
  display: inline-block;
}

.title p{
  width: auto;
}

#start-body,
#end-body{
  /*background-color: #fff;*/
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.day-time{
  background-color: #fff6ba;
}


.night-time{
  background-color: blue;
}


.hide{
  /*display: none;*/
}

.show-inline{
  display: inline;
}

.show-block{
  display: block;
}

.time-flex{
  //display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}


.time-input{
  width: 307px;
  //height: 140px;
  border: 3px solid $mainFont;
  display: inline-block;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  margin: 50px 20px;
  text-align: center;
  padding-top: 5px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc0044+0,ffdb97+100 */
  background: #64fc5c; /* Old browsers */
  background: -moz-linear-gradient(top, #64fc5c -150%, #ffdb97 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #64fc5c -150%,#ffdb97 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #64fc5c -150%,#ffdb97 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc0044', endColorstr='#ffdb97',GradientType=0 ); /* IE6-9 */

  .time-set{
    width: 80px;
    display: inline-block;

    label{
      display: block;
      margin: 0 0 15px 10px;
    }

  }

  .time-input-group{
    display: inline-block;
    width: 200px;
    text-align: center;
    input{
      width: 90%;
      text-align: center;
    }
    label{
      font-size: 1.3em;
    }
  }


}

.standard-time{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc0044+0,ffdb97+100 */
  background: #64fc5c; /* Old browsers */
  background: -moz-linear-gradient(top, #64fc5c -150%, #ffdb97 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #64fc5c -150%,#ffdb97 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #64fc5c -150%,#ffdb97 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc0044', endColorstr='#ffdb97',GradientType=0 ); /* IE6-9 */
}


.am-time{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc0044+0,ffdb97+100 */
  background: $amStart; /* Old browsers */
  background: -moz-linear-gradient(top, $amEnd -150%, $amStart 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $amEnd -150%,$amStart 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $amEnd -150%,$amStart 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc0044', endColorstr='#ffdb97',GradientType=0 ); /* IE6-9 */
}

.pm-time{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aa4db1+0,6293ff+100 */
  background: $pmEnd; /* Old browsers */
  background: -moz-linear-gradient(top, $pmEnd 0%, $pmStart 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $pmEnd 0%,$pmStart 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $pmEnd 0%,$pmStart 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa4db1', endColorstr='#6293ff',GradientType=0 ); /* IE6-9 */
}

#content-container{
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.icon-error{
  width: 53px;
  align-self: flex-start;
}

.slider{
  display: inline-block;
}

.ampm-icon{
  //float: left;
  width: 30px;
}

.ampm-toggle-container{
  //width: 200px;
  //height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 150px;
  text-align: center;
  margin: auto;
}

.slider-container{
  background-color: #8DDAE6;
  width: 60px;
  height: 25px;
  -webkit-border-radius:25%;
  -moz-border-radius:25%;
  border-radius:25%;
  margin: auto 0;
  position: relative;
}

.am-setting{
  background-color: #ffffff;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5;
  -o-transition: all .5s;
  transition: all .5s;
}

.pm-setting{
  background-color: #ffffff;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 33px;
  top: 0;
}