@import "boilerplate";
@import "variables";

* {
  box-sizing: border-box;
}

html{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#244484+0,a6fffe+100 */
  background: #244484; /* Old browsers */
  background: -moz-linear-gradient(top, #244484 0%, #a6fffe 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #244484 0%,#a6fffe 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #244484 0%,#a6fffe 100%) fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#244484', endColorstr='#a6fffe',GradientType=0 ); /* IE6-9 */
  height: 100%;
  color: $mainFont;

}

body{
  font-family: 'Orbitron', sans-serif;
  background-color: inherit;
  color: $mainFont;
  text-align: center;
  font-size: 62.5% !important;
}

.block{
  display: block;
}

.container{
  color: $mainFont;
  font-size: 1.6em;
}

#task-name-container{
  min-height: 90px;
  max-width: 630px;
  color: $mainFont;
  text-align: left;
  margin: auto;
  padding: 20px;
  border-radius: 10px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#20ff93+0,0059a2+100 */
  background: #20ff93; /* Old browsers */
  background: -moz-linear-gradient(top, #20ff93 -65%, #0059a2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #20ff93 -65%,#0059a2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #20ff93 -65%,#0059a2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20ff93', endColorstr='#0059a2',GradientType=0 ); /* IE6-9 */

  border: 3px solid $mainFont;

  label{
    font-weight: inherit;
  }
}

input{
  border-radius: 5px;
  padding: 5px;
  border: none;
  color: $inputFont;
  background-color: #4D4D4D;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $inputFont;
  font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $inputFont;
  font-weight: bold;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $inputFont;
  font-weight: bold;
}
:-moz-placeholder { /* Firefox 18- */
  color: $inputFont;
  font-weight: bold;
}

.title{
  width: 100%;
  text-align: center;
  color: $mainFont;
}

.title h1{
  width: auto;
  display: inline-block;
}

.title p{
  width: auto;
}

#start-body,
#end-body{
  /*background-color: #fff;*/
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.day-time{
  background-color: #fff6ba;
}


.night-time{
  background-color: blue;
}

.error{
  background-color: red;
}

.task-panel{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: column;

  font-weight: bold;
  text-align: left;
  width: 100%;
  padding: 15px;
  margin: 20px 0;
  -webkit-box-shadow: 12px 13px 5px -3px rgba(0,0,0,0.11);
  -moz-box-shadow: 12px 13px 5px -3px rgba(0,0,0,0.11);
  box-shadow: 12px 13px 5px -3px rgba(0,0,0,0.11);

  border-radius: 14px 14px 14px 14px;
  -moz-border-radius: 14px 14px 14px 14px;
  -webkit-border-radius: 14px 14px 14px 14px;
  border: 3px solid #131bad;
}

.task-title{
  display: inline-block;
}

.task-total{
  float: right;
}

.task-title,
.task-total{
  margin-top: 0;
}

.hide{
  /*display: none;*/
}

.show-inline{
  display: inline;
}

.show-block{
  display: block;
}

.time-flex{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}


.time-input{
  width: 307px;
  height: 140px;
  border: 3px solid $mainFont;
  display: inline-block;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  margin: 50px 20px;
  text-align: left;
  padding-top: 5px;

  .time-set{
    width: 80px;
    display: inline-block;

    label{
      display: block;
      margin: 15px;
    }

  }

  .time-input-group{
    display: inline-block;
    width: 200px;
    text-align: center;
    input{
      width: 90%;
      text-align: center;
    }
    label{
      font-size: 1.3em;
    }
  }


}


.am-time{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc0044+0,ffdb97+100 */
  background: #fc0044; /* Old browsers */
  background: -moz-linear-gradient(top, #fc0044 -150%, #ffdb97 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fc0044 -150%,#ffdb97 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fc0044 -150%,#ffdb97 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc0044', endColorstr='#ffdb97',GradientType=0 ); /* IE6-9 */
}

.pm-time{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aa4db1+0,6293ff+100 */
  background: #aa4db1; /* Old browsers */
  background: -moz-linear-gradient(top, #aa4db1 0%, #6293ff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #aa4db1 0%,#6293ff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #aa4db1 0%,#6293ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa4db1', endColorstr='#6293ff',GradientType=0 ); /* IE6-9 */
}